.textGradient {
  font-weight: 500;
  font-family: 'Arial', sans-serif;

  color: rgb(255, 204, 51);

  text-shadow:
    0 0 5px rgb(255, 185, 51),

    0 0 10px rgb(255, 185, 51),

    0 0 20px rgb(255, 204, 51),

    0 0 30px rgb(255, 204, 51),

    0 0 40px rgb(255, 204, 51);

}